##
# This file configures Apache on how to display the directory browsing
# and hides elements from the user.
##

#Enable indices 
Options Indexes ExecCGI
IndexOptions FancyIndexing
IndexOptions FoldersFirst
IndexOptions HTMLTable
IndexOptions NameWidth=*
IndexOptions ScanHTMLTitles
IndexOptions TrackModified
IndexOptions VersionSort

#Initially sort by mod date, or February would precede January
IndexOrderDefault Ascending Date

#Execute python files using CGI
AddHandler cgi-script .py
AddType text/html .py

#Styling
HeaderName /ctmm/header.html
IndexStyleSheet /ctmm/style.css
ReadmeName /ctmm/footer.py

#Hide style files, report folder, log file (for displaying the status), etc.
IndexIgnore header.html style.css footer.py report *.log